.App {
  /*   text-align: center; */
  height: 100vh;
}

.App-logo {
  height: auto;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  margin-left: 8px;
}

.main-section {
  background-color: #f4f5f9;
  height: calc(100vh - 50px);
  overflow: scroll;
}

.board-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.board-column {
  min-width: 350px;
  padding: 10px;
}

.column-header {
  display: flex;
  justify-content: space-between;
}

.column-left-side {
  display: flex;
  gap: 8px;
  align-items: center;
}

.column-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.tickets-container {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
